/*-----------------------------------*\
	$BASE RULES
\*-----------------------------------*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

body {
  font-size: 16px;
  font-family: "Droid Sans", sans-serif;
  background-color: #4d4d4d;
  line-height: 1.4;
  color: #595959;
}

img, video {
  width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

::selection {
  background-color: black;
}

::-moz-selection {
  background-color: black;
}

.button {
  background-color: #2a7496;
  padding: 0.3125em;
  border-radius: 2px;
  color: #f7f7f7;
  font-size: 0.9375em;
}
.button:hover {
  background-color: #030000;
}

hr {
  border-color: #33a8de;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #030000;
}

.right {
  float: right;
}

.left {
  float: left;
}

.stip {
  position: relative;
  background-color: #00181d;
  border-bottom: 2px dashed #4d4d4d;
  padding: 0;
  height: 5px;
}

/*-----------------------------------*\
	$LAYOUT
\*-----------------------------------*/
.content {
  position: relative;
  width: 68.75em;
  /* 1100px */
  max-width: 100%;
  margin: 0 auto;
  padding: 0.625em;
  /* 10px */
}

header, footer {
  width: 100%;
  background-color: #030000;
}

footer {
  position: relative;
  height: 180px;
  color: #f7f7f7;
}

header {
  height: 6.25em;
  border-top: 5px solid #00181d;
}
header .content {
  padding-bottom: 0;
}
header h1.logo {
  position: relative;
  top: 10px;
}
header h1.logo a {
  color: #f7f7f7;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Francois One", sans-serif;
}
header h1.logo a:hover {
  color: #2a7496;
}
header nav {
  position: relative;
  bottom: 1.25em;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline;
  margin-left: 30px;
}
header nav ul li a {
  display: inline;
  color: #f7f7f7;
}
header nav ul li a:hover {
  color: #2a7496;
}

section.main {
  margin-top: 2.5em;
}
section.main section.blog-posts {
  width: 70.3703704%;
  /* 760px; */
}
section.main section.blog-posts article.post {
  position: relative;
  background-color: #f7f7f7;
  margin-bottom: 1.25em;
  padding: 1.25em;
  /* 20px; */
  border-top: 4px solid #030000;
  border-radius: 1px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
section.main section.blog-posts article.post .entry-content {
  position: relative;
  width: 86.1111111%;
  /* 620px; */
  padding-bottom: 0.625em;
  /* 10px*/
  padding-right: 1.875em;
}
section.main section.blog-posts article.post .entry-content h2.post-title {
  border-bottom: 1px solid #555555;
  padding-bottom: 0.3125em;
}
section.main section.blog-posts article.post .entry-content h2.post-title a {
  color: #030000;
  font-weight: normal;
  font-size: 3px;
  font-size: 2.0625rem;
  font-family: "Francois One", sans-serif;
}
section.main section.blog-posts article.post .entry-content h2.post-title a:hover {
  color: #2a7496;
}
section.main section.blog-posts article.post .entry-content p {
  margin-top: 01.6129032%;
  /* 10px; */
  margin-bottom: 01.6129032%;
  /* 10px; */
}
section.main section.blog-posts article.post .cat-tags {
  position: relative;
  top: 1.25em;
  width: 86.1111111%;
  padding-bottom: 1.25em;
  padding-top: 1.25em;
  padding-right: 1.875em;
  border-top: 1px dashed #cccccc;
  float: right;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: bold;
  line-height: 2;
  color: #555;
}
section.main section.blog-posts article.post .cat-tags a {
  color: #2a7496;
}
section.main section.blog-posts article.post .cat-tags a:hover {
  text-decoration: underline;
}
section.main section.blog-posts article.post .cat-tags span.cat-links {
  float: left;
  padding-right: 3.36134454em;
}
section.main section.blog-posts article.post .meta {
  position: absolute;
  top: 0;
  left: 5px;
  float: left;
  text-align: center;
  width: 10.6944444%;
  color: #f7f7f7;
}
section.main section.blog-posts article.post .meta .data {
  background-color: #595959;
  height: 70px;
  font-size: 30px;
  font-size: 1.875rem;
  border-radius: 2px;
  -moz-box-shadow: 2px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px -2px rgba(0, 0, 0, 0.3);
}
section.main section.blog-posts article.post .meta .data span {
  display: block;
  background-color: #030000;
  color: #f7f7f7;
  height: 25px;
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
}
section.main section.blog-posts article.post .meta .comments {
  position: relative;
  top: 40px;
}
section.main section.blog-posts article.post .meta .comments a {
  color: #2a7496;
}
section.main section.blog-posts article.post .meta .comments a:hover {
  color: #33a8de;
}
section.main section.blog-posts article.post .meta .comments span {
  display: block;
}
section.main aside {
  width: 27.7777778%;
  float: right;
  background-color: #f7f7f7;
  padding: 1.875em;
  /* 30px */
  border-top: 4px solid #030000;
}
section.main aside .search {
  font-family: "Francois One", sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  font-size: 1.125rem;
  padding-bottom: 1.25em;
}
section.main aside .search input {
  border: 1px solid #cccccc;
  background-color: #f3f3f3;
  width: 100%;
  padding: 0.625em;
  font-size: 12px;
  font-size: 0.75rem;
  border-radius: 2px;
}
section.main aside ul.sidebar {
  list-style: none;
}
section.main aside ul.sidebar li.widget h3.widget-title {
  font-family: "Francois One", sans-serif;
  color: #4d4d4d;
  font-size: 20px;
  font-size: 1.25rem;
}
section.main aside ul.sidebar li.widget ul {
  list-style: none;
  padding-left: 1.25em;
  /* 20 */
  padding-bottom: 1.875em;
  /* 30 */
}
section.main aside ul.sidebar li.widget ul li {
  padding-top: 5px;
  font-size: 15px;
  font-size: 0.9375rem;
  border-bottom: 1px dashed #cccccc;
}
section.main aside ul.sidebar li.widget ul li a {
  color: #2a7496;
}
section.main aside ul.sidebar li.widget ul li a:hover {
  color: #4d4d4d;
}
