/*-----------------------------------*\
	$BASE RULES
\*-----------------------------------*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

body {
  font-size: 16px;
  font-family: "Droid Sans", sans-serif;
  background-color: #363b44;
  line-height: 1.4;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

::selection {
  background-color: black;
}

::-moz-selection {
  background-color: black;
}

.button {
  background-color: #363b44;
  padding: 0.625em;
  border-radius: 4px;
  color: #f7f7f7;
}
.button:hover {
  background-color: #030000;
}

hr {
  border-color: #33a8de;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #030000;
}

/*-----------------------------------*\
	$LAYOUT
\*-----------------------------------*/
header, footer {
  width: 100%;
  background-color: #030000;
}

footer {
  position: relative;
  height: 180px;
  color: #f7f7f7;
}

.content {
  position: relative;
  width: 68.75em;
  /* 1100px */
  max-width: 100%;
  margin: 0 auto;
  padding: 0.625em;
  /* 10px */
}

section.main {
  margin-top: 2.5em;
}
section.main section.blog-posts {
  width: 70.3703704%;
  /* 760px; */
  float: left;
}
section.main section.blog-posts article.post {
  position: relative;
  background-color: #f7f7f7;
  margin-bottom: 1.25em;
  padding: 1.25em;
  /* 20px; */
  border-top: 4px solid #030000;
}
section.main section.blog-posts article.post .entry-content {
  position: relative;
  width: 86.1111111%;
  /* 620px; */
  float: right;
  color: #363b44;
  border-bottom: 1px solid #555555;
  padding-bottom: 1.25em;
  /* 20 */
}
section.main section.blog-posts article.post .entry-content p {
  margin-top: 03.2258065%;
}
section.main section.blog-posts article.post .cat-tags {
  position: relative;
  top: 1.25em;
  padding-bottom: 1.25em;
  width: 86.1111111%;
  float: right;
}
section.main section.blog-posts article.post .meta {
  position: absolute;
  top: 0;
  left: 10px;
  float: left;
  text-align: center;
  width: 10.6944444%;
}
section.main section.blog-posts article.post .meta .data {
  background-color: #555;
  height: 80px;
  font-size: 40px;
  font-size: 2.5rem;
}
section.main section.blog-posts article.post .meta .data span {
  display: block;
  background-color: #030000;
  color: #f7f7f7;
  height: 25px;
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
}
section.main section.blog-posts article.post .meta .comments {
  position: relative;
  top: 40px;
}
section.main section.blog-posts article.post .meta .comments span {
  display: block;
}
section.main aside {
  width: 27.7777778%;
  float: right;
  background-color: #f7f7f7;
  padding: 1.25em;
  border-top: 4px solid #030000;
}
