/*-----------------------------------*\
	$BASE RULES
\*-----------------------------------*/

$nied: #030000;
$rotwood: #2c2918;
$wnight: #3e3f41;
$awhite: #f7f7f7;
$tsilver: #a19b88;

$dmidnight: #00181d;
$puddle: #405458;
$sorrow: #196675;
$bnavy: #112e6d;
$blackgrey: #363b44;

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

body {
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
	background-color: $wnight;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

::selection {
	background-color: black;
}

::-moz-selection {
	background-color: black;
}