/*-----------------------------------*\
	$BASE RULES
\*-----------------------------------*/

$nied: #030000;
$rotwood: #2c2918;
$wnight: #3e3f41;
$awhite: #f7f7f7;
$tsilver: #a19b88;

$dmidnight: #00181d;
$puddle: #405458;
$sorrow: #196675;
$bnavy: #112e6d;
$blackgrey: #363b44;

$dblue: #55afd9;
$bad: #1283b8;
$water: #33a8de;
$snome: #3b8db3;
$bluedust: #2a7496;
$coolblue: #1a82f7;

$agray: #4d4d4d;
$lovegray: #515151;
$opblack: #4f4f4f;
$retsof: #3f3f3f;
$livedie: #595959;


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

body {
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
	background-color: $agray;
	line-height: 1.4;
	color: $livedie;
}

img, video {
	width: 100%;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

::selection {
	background-color: black;
}

::-moz-selection {
	background-color: black;
}

.button {
	background-color: $bluedust;
	padding: 0.3125em;
	border-radius: 2px;
	color: $awhite;
	font-size: 0.9375em;
	&:hover {
		background-color: $nied;
	}
}

hr {
	border-color: $water;
	border-top: 1px solid $awhite;
	border-bottom: 1px solid $nied;
}

.right {
	float: right;
}

.left {
	float: left;
}

.stip {
	position: relative;
	background-color: $dmidnight;
	border-bottom: 2px dashed $agray;
	padding: 0;
	height: 5px;
}