/*-----------------------------------*\
	$LAYOUT
\*-----------------------------------*/

header, footer {
	width: 100%;
	background-color: $nied;
}

footer {
	position: relative;
	// top: 120px;
	height: 180px;
	color: $awhite;
}

.content {
	position: relative;
	width: 68.75em; /* 1100px */
	max-width: 100%;
	margin: 0 auto;
	padding: 0.625em; /* 10px */
}

section.main {
	margin-top: 2.5em;
	section.blog-posts {
		width: 70.3703704%; /* 760px; */
		float: left;
		article.post {
			position: relative;
			background-color: $awhite;
			margin-bottom: 1.25em;
			padding: 1.25em;
			.entry-content {
				position: relative;
				width: 92.1052632%;
				float: right;
			}
			.meta {
				position: absolute;
				top: 0;
				left: 0; 
			}
			.comments {
				width: 220px;
				float: right;
			}
		}
	}

	aside {
		width: 27.7777778%;
		float: right;
		background-color: $awhite;
		padding: 1.25em;
	}
}