/*-----------------------------------*\
	$LAYOUT
\*-----------------------------------*/

header, footer {
	width: 100%;
	background-color: $nied;
}

footer {
	position: relative;
	// top: 120px;
	height: 180px;
	color: $awhite;
}

.content {
	position: relative;
	width: 68.75em; /* 1100px */
	max-width: 100%;
	margin: 0 auto;
	padding: 0.625em; /* 10px */
}

header {
	height: 6.25em;
	h1.logo {
		a {
			color: $awhite;
		}
	}
	nav {
		position: relative;
		bottom: 1.25em;
		ul {
			list-style: none;
			li {
				display: inline;
				margin-left: 30px;
				a {
					display: inline;
					color: $awhite;
				}
			}
		}
	}
}

section.main {
	margin-top: 2.5em;
	section.blog-posts {
		width: 70.3703704%; /* 760px; */
		article.post {
			position: relative;
			background-color: $awhite;
			margin-bottom: 1.25em;
			padding: 1.25em; /* 20px; */
			border-top: 4px solid $nied;
			border-radius: 1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			.entry-content {
				position: relative;
				width: 86.1111111%; /* 620px; */
				border-bottom: 1px dashed #555;
				padding-bottom: 1.25em; /* 30px*/
				padding-right: 1.875em;
				h2.post-title {
					border-bottom: 1px solid #555;
					padding-bottom: 0.3125em;
					a {
						color: $nied;
						font-weight: bold;
						font-family: 'Francois One', sans-serif;
						&:hover {
							color: $bluedust;
						}
					}
				}
				p {
					margin-top: 03.2258065%;
				}
			}
			.cat-tags {
				position: relative;
				top: 1.25em;
				padding-bottom: 1.25em;
				width: 86.1111111%;
				float: right;
				padding-right: 1.875em;
				font-size: 11px;
				font-size: 0.6875rem;
				line-height: 2;
				color: #555;
				font-weight: bold;
				a {
					color: $bluedust;
					&:hover {
						text-decoration: underline;
					}
				}
				span.cat-links {
					float: left;
					padding-right: 3.36134454em;
				}
			}
			.meta {
				position: absolute;
				top: 0;
				left: 5px;
				float: left;
				text-align: center;
				width: 10.6944444%;
				color: $awhite;
				.data {
					background-color: $livedie;
					height: 80px;
					font-size: 40px;
					font-size: 2.5rem;
					border-radius: 2px;
					-moz-box-shadow: 2px -2px rgba(0,0,0,0.3);
					-webkit-box-shadow: 2px -2px rgba(0,0,0,0.3);
					box-shadow: 2px -2px rgba(0,0,0,0.3);
					span {
						display: block;
						background-color: $nied;
						color: $awhite;
						height: 25px;
						font-size: 18px;
						font-size: 1.125rem;
						text-transform: uppercase;
					}
				}
				.comments {
					position: relative;
					top: 40px;
					a {
						color: $bluedust;
						&:hover {
							color: orangered;
						}
					}
					span {
						display: block;
					}
				}
			}
		}
	}

	aside {
		width: 27.7777778%;
		float: right;
		background-color: $awhite;
		padding: 1.875em; /* 30px */
		border-top: 4px solid $nied;
	}
}