/*-----------------------------------*\
	$LAYOUT
\*-----------------------------------*/

header, footer {
	width: 100%;
	background-color: $nied;
}

footer {
	position: relative;
	// top: 120px;
	height: 180px;
	color: $awhite;
}

.content {
	width: 68.75em; /* 1100px */
	max-width: 100%;
	margin: 0 auto;
	padding: 0.625em; /* 10px */
}

section.main {
	section.blog-posts {
		width: 71.2962963%; /* 790px; */
		float: left;
	}

	aside {
		width: 27.7777778%;
		float: right;
	}
}