/*-----------------------------------*\
	$MEDIA QUERIES
\*-----------------------------------*/

/* min-width: 280px */
@media screen and(min-width: 17.5em) and (max-width: 47.5em) {
	section.main {
		section.blog-posts {
			min-width: 100%;
			article.post {
				.entry-content {
					h2.post-title {
						a {
							font-size: 30px;
							font-size: 1.875rem;
						}
					}
				}
			}
		}

		aside {
			width: 100%;
			margin-bottom: 2.5em;
		}
	}

	footer {
		.footer-widget {
			min-width: 100%;
		}
	}
}

/* min-width: 760px */
@media screen and(min-width: 47.5em) {

}

/* min-width: 1200px */
@media screen and(min-width: 75em) {
	
}